<div>
  <h1>Crea una Tiendita!!!</h1>

  <form action="/tienditas/new" method="POST">
    <p>
      Nombre:
      <input type="text" name="name" id="">
    </p>
    <p>
      Giro Comercial:
      <input type="text" name="giro" id="">
    </p>
    <p>
      Owner:
      <input type="text" name="owner" id="">
    </p>
    <p>
      <input type="submit" value="Guardar :)">
    </p>
  </form>

</div>